body, html, #container {
    height: 20%;
}*
{
    margin: 0;
    padding: 0;
}
html, body{
    height:100;
}
body{
    background: url(bg.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

margin: 0;
padding: 0;



margin-top: 400px;
margin-bottom: -100px;
margin-right: 100px;
margin-left: 800px;
padding: 80;
font: 900 30px 'Neuton', serif;
}

footer{
    margin-top: 600px;
margin-bottom: -300px;
margin-right: 0px;
margin-left: -750px;
}



h1{
    color: black;
    
    font: 90px 'Neuton', serif; 
    margin-bottom: 30px;
    text-shadow: 3px 2px yellow;
    margin-left: -65px;

}
.btn{
    font-family: arial;
    text-transform: uppercase;
    font-size: 30px;
    width: 240px;
    height: 60px;
    border-radius: 80px;
    line-height: 60px;
    text-align: center;
    border: 3px solid #009688;
    display: block;
    text-decoration: none;
    margin:300px auto;
    color: #009688;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: .3s;
    margin-left: 10px;
    margin-top: -250px;
    margin-bottom: 50px;
}

.btn:before
{
content: '';
width: 100%;
height: 100%;
position: absolute;
background:#009688;
top: 0;
left: 0;
z-index: -1;
transition: .3s
}

.btn:after
{
content: '';
width: 100%;
height: 100%;
position: absolute;
background:#009688;
top: 0;
left: 0;
z-index: -1;
transition: .3s
}

.btn:hover
{
    color:#fff;
}

.btn:before:befero 
{
    top: 0; 
}